.banner {
  position: relative;
  z-index: 99;
  margin-top: -55px;
  background-image: url("../img/back-banner.webp");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.banner__content {
  padding: 50px 25px 1px;
}

.banner__content-box {
  max-width: 475px;
}

.banner__title {
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-size: 42px;
  font-weight: 300;
  line-height: 46px;
  color: #ffffff;
  text-transform: uppercase;

  &--span {
    font-weight: 700;
  }
}

.banner__text {
  color: #edc564;
}

.banner__img-box {
  max-width: 300px;
  margin: 20px 0 -25px auto;
}

@media (min-width: 768px) {
  .banner__content {
    padding: 60px 25px;
    display: flex;
  }

  .banner__title {
    font-size: 60px;
    line-height: 62px;
  }
}

@media (min-width: 1024px) {
  .banner__content {
    max-width: 1200px;
    margin: auto;
    padding: 60px 25px 1px;
    display: flex;
  }

  .banner__title {
    margin-bottom: 0;

    &--span {
      letter-spacing: 6px;
    }
  }

  .banner__img-box {
    max-width: none;
    margin: 20px 0 -50px auto;
  }

  .banner__content-box {
    padding-top: 80px;
  }
}
