.bbq {
  padding: 60px 0 0;
}

.bbq__title-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  background-image: url("../img/new-banner.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bbq__title {
  padding: 20px;
  margin: 0;
  margin-top: 100px;
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  background-color: #0000008a;
  backdrop-filter: blur(1px);

  span {
    font-weight: 500;
    color: #ffca40;
  }
}

.bbq__list {
  @include list;
  padding: 20px;
}

.bbq__btn {
  position: relative;
  margin: auto auto 0;
  background-color: transparent;
  border: none;
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-size: 38px;
  line-height: 40px;
  color: #ffca40;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;

  h2 {
    font-weight: 700;
    color: #141b22;
    margin: 0;
    display: inline;
    font-size: 56px;
  }

  span {
    font-weight: 700;
    color: #141b22;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -60px;
    left: 50%;
    margin-left: -25px;
    background-color: #ffca40;
    border-radius: 50%;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: 0.3s ease;
  }

  &:hover {
    &::before {
      transform: scale(1.1);
    }
  }

  &:active {
    &::before {
      transform: scale(0.95);
    }
  }
}

.bbq-delivery {
  margin: auto;
  margin-bottom: 30px;
  max-width: 300px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  span {
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .bbq__title-wrapper {
    padding-bottom: 30px;
  }

  .bbq__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
  }

  .bbq__btn {
    font-size: 56px;
    line-height: 60px;
  }

  .bbq-delivery {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .bbq {
    min-height: 800px;
  }

  .bbq__title {
    width: 100%;
    padding: 30px;
    font-size: 60px;
    line-height: 70px;
    margin-top: 130px;
    background-color: #21212199;
    backdrop-filter: blur(3px);
  }

  .bbq__title-wrapper {
    min-height: 730px;
  }
}
