.block__wrapper {
  max-width: 570px;
  margin: auto;
}

.block__content {
  padding: 25px;
}

.block__title {
  margin-top: 0;
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
}

@media (min-width: 1024px) {
  .block {
    background-image: url("../img/back.webp");
    background-repeat: no-repeat;
    background-position: center right;
  }

  .block__wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 100px 0;
    display: flex;
  }

  .block__content {
    padding: 25px;
    width: 50%;
  }
}
