.btn {
  display: block;
  max-width: 270px;
  padding: 15px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(to top, #e1c870, #e6a635);
  border-radius: 30px;
}
