.card {
  max-width: 270px;
  margin: 0 10px 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(197, 233, 237);
  border-radius: 10px;
  box-shadow: 1.463px 13.923px 24px 0px rgba(7, 7, 7, 0.09);

  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

.card__content {
  padding: 10px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.card__sostav {
  margin: 0;
  font-weight: 700;
}

.card__ingridients {
  margin: 0;
}

.card__price {
  margin-bottom: 0;

  &--span {
    font-weight: 700;
    color: #cf8e17;
  }
}

.card__btn {
  outline: none;
  padding: 12px 40px;
  margin: 20px 20px 0;
  border-radius: 30px;
  background-image: linear-gradient(45deg,#FFEB3B 0,#FFC107 50%,#FF9800 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-size: 24px;
  font-weight: 500;
  box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
  border: none;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-position: 0 0;
  }

  &:active {
    box-shadow: 0 0 0 0 rgba(0,40,120,0);
  }
}

@media (min-width: 768px) {
  .card {
    min-height: 435px;
  }

  .card__content {
    padding: 25px;
  }

  .card__title {
    min-height: 48px;
  }

  .card__ingridients {
    min-height: 72px;
  }
}
