.card {
  max-width: 270px;
  margin: 0 10px 20px;
  background-color: #ffffff;
}

.card__content {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.card__sostav {
  margin: 0;
  font-weight: 700;
}

.card__ingridients {
  margin: 0;
}

.card__price {
  margin-bottom: 0;

  &--span {
    font-weight: 700;
    color: #cf8e17;
  }
}

@media (min-width: 768px) {
  .card {
    min-height: 435px;
  }

  .card__content {
    padding: 25px;
  }

  .card__title {
    min-height: 48px;
  }

  .card__ingridients {
    min-height: 72px;
  }
}
