.catalog {
  padding-top: 125px;
}

.catalog__list {
  @include list;
  padding: 20px;
}

.catalog__title {
  margin-bottom: 0;
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-size: 46px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
}

@media (min-width: 768px) {
  .catalog {
    padding-top: 210px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .catalog {
    padding-top: 190px;
  }
}
