.catalog {
  padding-top: 270px;

  &--barbecue {
    padding: 95px 0 0;
  }
}

.catalog__list {
  @include list;
  padding: 20px;
}

.catalog__title {
  margin-bottom: 0;
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-size: 46px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;

  &--barbecue {
    padding: 30px 0;
    margin: 0;
    font-size: 40px;
    color: #ffffff;
    background-image: url("../img/menu-back2.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

@media (min-width: 768px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .catalog {
    padding-top: 190px;

    &--barbecue {
      padding-top: 60px;
    }
  }

  .catalog__list--barbecue {
    padding: 50px 20px;
  }

  .catalog__title {

    &--barbecue {
      padding: 70px 0 30px;
      font-size: 50px;
    }
  }
}
