.contacts__link {
  display: flex;
  align-items: center;
  color: #192144;
  font-weight: 700;
  text-decoration: none;

  &--reg {
    color: #ffd74b;
  }

  &--email {
    text-transform: uppercase;
  }
}

.contacts__link-text {
  margin: 0;
  padding-top: 1px;
}

.contacts__svg-box {
  @include center-flex;
  padding-top: 2px;
  width: 45px;
  height: 45px;
  margin-right: 16px;
  background-color: #121936;
  border-radius: 50%;
}

.contacts__svg {
  fill: #ffd74b;
}

.contacts__icon {
  display: none;
}

@media (min-width: $tablet) {
  .contacts {
    padding: 22px 20px 28px 50px;

    &--header {
      padding: 0;
      margin-bottom: 114px;
    }
  }

  .contacts__link {
    font-size: 28px;
    line-height: 28px;
  }

  .contacts__link-text {
    &--tel {
      padding-top: 4px;
    }
  }

  .contacts__svg-box {
    width: 68px;
    height: 68px;
    margin-right: 23px;
    background-color: #121936;
    border-radius: 50%;
  }

  .contacts__svg {
    width: 27px;
    height: 27px;

    &--email {
      height: 20px;
    }
  }
}

@media (min-width: $desktop) {
  .contacts {
    display: flex;
    padding: 0;
    margin-top: 1px;

    &--header {
      margin-bottom: 0;
    }
  }

  .contacts__link-text {
    display: none;
    margin-top: 3px;

    &--reg {
      display: block;
    }

    &--tel {
      margin-top: 0;
    }
  }

  .contacts__link {
    &--reg {
      min-width: 427px;
    }

    &:hover {
      color: #ffbd30;

      .contacts__svg {
        fill: #ffbd30;
      }
    }

    &:active {
      color: rgba(255, 189, 48, 0.3);

      .contacts__svg {
        opacity: 0.3;
      }
    }
  }

  .contacts__icon {
    @include center-flex;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: #ff8d30;

    &--email {
      background-color: #ffbd30;

      &:hover {
        background-color: #ff8d30;
      }
    }

    &:hover {
      background-color: #f26926;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  .contacts__svg-box {
    display: none;
    width: 90px;
    height: 90px;
    margin-right: 30px;

    &--reg {
      display: flex;
      padding: 3px 1px 0 0;
    }
  }

  .contacts__svg {
    &--tel {
      width: 36px;
      height: 36px;
    }

    &--email {
      width: 36px;
      height: 26px;
    }
  }
}
