.country-popup {
  position: relative;
}

.country-popup__box {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 10;
  width: 100%;

  &--open {
    display: block;
  }
}

.country-step__close-popup {
  display: none;
  margin: 5px 5px 0 auto;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.country-popup__title {
  position: relative;
  display: flex;
  padding: 11px;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    z-index: 6;
    top: 16px;
    right: 48px;
    width: 8px;
    height: 8px;
    border: 1px solid #cbced9;
    border-radius: 50%;
  }

  &:hover {
    border: solid 1px #959bb2;
  }

  &--open {
    padding: 12px;
    color: #ffffff;
    border: none;
    border-radius: 4px 4px 0 0;
    background-color: #1d2e5b;

    &::before {
      display: none;
    }

    .country-step__select--3 {
      display: none;
    }

    .country-step__close-popup {
      display: block;
    }

    &:hover {
      border: none;
    }
  }

  &--open ~ .country-step__del-btn {
    display: none;
  }
}


.country-popup--no-js {
  .country-popup__open-btn {
    display: none;
  }

  .country-popup__box {
    position: static;
    display: block;
    margin-top: -20px;
    width: 220px;
  }
}


@media (min-width: $tablet) {
  .country-popup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    &--no-js {
      .country-popup__box {
        display: flex;
        margin-top: 0;
        width: 100%;
      }
    }
  }

  .country-popup__title {
    width: 100%;
    margin: 0;
    padding: 24px 25px;
    max-width: 369px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.9px;

    &::before {
      top: 26px;
      right: -34px;
      width: 15px;
      height: 15px;
      background-color: #ffffff;
    }

    &--open {
      padding: 25px;

      &::before {
        display: block;
      }
    }

    &--open ~ .country-step__del-btn {
      display: block;
    }
  }

  .country-step__close-popup {
    width: 18px;
    height: 18px;
    margin: 1px 1px 0 auto;
  }

  .country-popup__box {
    top: 70px;
    display: none;
    width: 106.5%;
    background-color: #ffffff;
    box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
    border-radius: 10px;

    &--open {
      display: flex;
    }
  }

  .country-popup__country-litter {
    margin: 34px 0 36px 27px;
  }

  .country-popup__country-select {
    margin-left: auto;
  }
}

@media (min-width: $desktop) {
  .country-popup {
    &--no-js {
      .country-popup__box {
        width: 73%;
      }
    }
  }

  .country-popup__title {
    max-width: 730px;

    &::before {
      right: -53px;
    }
  }

  .country-popup__box {
    width: 73%;
  }

  .country-popup__country-litter {
    margin: 34px 0 19px 27px;
  }
}
