.countries {
  position: relative;
  z-index: 2;
  padding: 50px 25px 29px;
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.countries__section-description {
  padding-left: 25px;
  padding-right: 45px;
}

.countries__section-title {
  margin-bottom: 20px;
  color: $orange;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.countries__section-text {
  margin-bottom: 61px;
  color: #444444;
  font-weight: 300;
}

.countries__list {
  @include list;
}

.countries__item {
  position: relative;
  margin-bottom: 10px;

  &:last-child::after {
    content: "";
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: -5px;
    background-image: linear-gradient(180deg, transparent 50%, #edeff6 100%);
  }
}

.countries__img {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.countries__description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -11px;
  padding: 23px 24px;
  background-color: #ffffff;
  border-radius: 10px;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 25px;
    width: 35px;
    height: 24px;
    background-image: url("../img/icon-thailand.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
  }

  &--fr {
    &::before {
      background-image: url("../img/flag-france.svg");
    }
  }

  &--3 {
    margin-top: -12px;

    &::before {
      background-image: url("../img/icon-czech.svg");
    }
  }
}

.countries__title {
  flex-basis: 50%;
  margin: 0;
  color: #161c35;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.countries__text {
  order: 2;
  flex-basis: 100%;
  margin: 0;
  margin-top: -4px;
  padding-left: 1px;
  opacity: 0.3;
  color: #444444;
  font-weight: 500;
  line-height: 18px;

  &--2 {
    letter-spacing: -0.2px;
  }

  &--count {
    order: 1;
    flex-basis: 10%;
    padding-left: 20px;
    margin: 0;
    line-height: 30px;
    text-transform: uppercase;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 3px 8px;
  }
}

.countries__btn {
  margin: 26px 0 1px;
}

.countries__img-box {
  display: block;

  &--3 {
    padding-top: 1px;
  }
}

@media (min-width: $tablet) {
  .countries {
    padding: 32px 25px 0;
    border-radius: 0 0 60px 60px;
  }

  .countries__content {
    padding: 0 23px 80px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right 15px top 12px;

    @media (min-resolution: $retina) {
      background-image: url("../img/flags-back@2x.png");
      background-size: 289px auto;
    }
  }

  .countries__section-title {
    margin: 36px 0 58px;
    font-size: 45px;
    line-height: 47px;
    letter-spacing: -0.1px;
  }

  .countries__section-text {
    padding: 0 250px 0 2px;
    margin-bottom: 63px;
    font-size: 28px;
    line-height: 33px;
  }

  .countries__list {
    position: relative;
    padding: 44px 27px 37px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -7px;
      width: 141px;
      height: 141px;
      border-radius: 20px;
      background-color: #e2e5f2;
    }
  }

  .countries__item {
    display: flex;
  }

  .countries__img-box {
    width: 30.1%;
    order: 1;
    padding-top: 0;
  }

  .countries__img {
    display: block;
    height: 140px;
    border-radius: 0 20px 20px 0;
  }

  .countries__description {
    display: block;
    width: 70%;
    margin-top: 0;
    padding: 29px 24px 19px 30px;
    border-radius: 20px 0 0 20px;

    &::before {
      top: 16.5px;
      left: auto;
      right: -37px;
      width: 71px;
      height: 47px;
    }
  }

  .countries__title {
    margin: 0;
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 24px;
  }

  .countries__text {
    margin: 0;
    font-size: 20px;
    line-height: 17px;

    &--2 {
      letter-spacing: -0.3px;
    }

    &--count {
      order: 2;
      margin-top: 18px;
      padding: 5px 0 5px 28px;
      background-size: 20px 20px;
      background-position: 0 3px;
    }
  }

  .countries__btn {
    width: 92%;
    margin: auto;
  }
}

@media (min-width: $desktop) {
  .countries {
    padding: 0;
  }

  .countries__content {
    max-width: 1440px;
    margin: auto;
    padding: 161px 131px 139px;
    display: flex;
    flex-wrap: wrap;
    background-position: right 60px top 88px;
  }

  .countries__section-description {
    flex-grow: 1;
    width: 50%;
    padding: 0 100px 0 171px;
  }

  .countries__section-title {
    margin: 0;
    margin-bottom: 58px;
    padding-left: 1px;
  }

  .countries__section-text {
    margin-bottom: 90px;
    padding: 0;
  }

  .countries__list {
    order: -1;
    width: 47.45%;
    padding: 0;

    &::before {
      top: -72px;
      left: -71px;
    }
  }

  .countries__description {
    padding: 22px 24px 20px 30px;
    width: 66.7%;
    min-height: 140px;

    &::before {
      top: 23px;
      right: -35px;
    }
  }

  .countries__img-box {
    width: 33.29%;
  }

  .countries__title {
    margin-bottom: 6px;
  }

  .countries__btn {
    flex-basis: 274px;
    margin-right: 171px;
    margin-top: -81px;
  }

  .countries__text {
    &--count {
      margin-top: 24px;
    }
  }
}
