.count-travelmates {
  display: flex;
  flex-wrap: wrap;
}

.count-travelmates__label {
  display: flex;
  margin-bottom: 9px;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  &--gray {
    margin-left: auto;
    opacity: 0.3;
  }
}

.count-travelmates__input-box {
  display: flex;
  justify-content: space-between;
  width: 99%;
  margin: 0 auto 20px;
  border-radius: 4px;
  border: 1px solid #cbced9;
}

.count-travelmates__btn {
  width: 41px;
  height: 41px;
  padding: 1px 0 0 4px;
  border: none;
  background-color: transparent;
  background-image: url("../img/qty-minus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  opacity: 0.3;

  &--plus {
    padding: 1px 5px 0 0;
    background-image: url("../img/qty-plus-mobile.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.count-travelmates__input {
  padding-top: 3px;
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 13.37px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  appearance: textfield;
}

@media (min-width: $tablet) {
  .count-travelmates__label {
    padding-left: 1px;
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    &--gray {
      margin-right: 3px;
    }
  }

  .count-travelmates__input {
    padding-top: 0;
    padding-right: 3px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .count-travelmates__btn {
    width: 63px;
    height: 68px;
    padding: 0;
    background-size: 20px 3px;

    &--plus {
      width: 59px;
      background-size: 20px 20px;
    }
  }

  .count-travelmates__input-box {
    margin: 0 auto 15px;
  }
}

@media (min-width: $desktop) {
  .count-travelmates {
    width: 55.5%;
    flex-wrap: nowrap;
    margin-bottom: 14px;
  }

  .count-travelmates__label {
    flex-basis: 39.7%;
    padding: 25px 0 0;

    &--gray {
      order: 1;
      flex-basis: 21.5%;
      opacity: 1;
      margin-right: -1px;
    }
  }

  .count-travelmates__input-box {
    flex-basis: 32.6%;
    margin: 0;

    &:hover {
      border-color: #959bb2;
    }

    &:focus-within {
      border-color: #161c35;
    }
  }

  .count-travelmates__input {
    width: 33%;
  }
}
