.footer {
  padding: 25px;
  background-color: #000000;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  width: 70px;
  margin-top: 8px;
}

.footer__contacts {
  max-width: 200px;
}

.footer__adress,
.footer__tel {
  display: flex;
  align-items: center;
  position: relative;
  color: #ffffff;
  font-size: 16px;

  &::before {
    content: "";
    display: block;
    min-width: 32px;
    height: 32px;
    margin: 0 15px;
    background-image: url("../img/pin.svg");
    background-color: #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.footer__adress {
  margin: 0;
  font-weight: 100;
}

.footer__tel {
  font-weight: 700;
  text-decoration: none;

  &::before {
    background-image: url("../img/phone.svg");
  }
}

.footer__nav {
  width: 100%;
  margin: 15px 0;
}

.footer__nav-list {
  @include list;
  display: flex;
  justify-content: space-between;
}

.footer__nav-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;

  &:hover {
    color: #ffffff;
  }
}

.footer__social {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__copyright {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .footer__logo {
    width: 90px;
    margin: 0 20px;
  }

  .footer__nav {
    width: 40%;
  }

  .footer__social {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .footer__wrapper {
    max-width: 1200px;
    margin: auto;
  }

  .footer__logo {
    width: 111px;
  }

  .footer__contacts {
    max-width: 250px;
    order: 1;
  }

  .footer__social {
    order: 2;
  }
}
