.header {
  position: relative;
  z-index: 100;
  background-image: url("../img/back-header.webp");
  background-repeat: no-repeat;
  background-position: center top;
}

.header__wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 10px 9px 15px;
}

.header__contacts {
  margin: 0 auto 0 15px;
}

.header__adress {
  margin: 3px 0;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
}

.header__tel {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.header__nav {
  margin: 0 0 0 10px;
}

.header__logo-box,
.header__logo {
  z-index: 5;
}

@media (min-width: 425px) {
  .header__contacts {
    margin: 5px auto 0 40px;
  }

  .header__nav {
    margin: 5px 0 0 25px;
  }
}

@media (min-width: 768px) {
  .header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header__adress {
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 32px;
      height: 32px;
      background-color: #ffffff;
      border-radius: 50%;
      background-image: url("../img/pin.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .header__tel {
    position: relative;
    padding-left: 40px;
    font-size: 20px;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 32px;
      height: 32px;
      background-color: #ffffff;
      border-radius: 50%;
      background-image: url("../img/phone.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .header__nav {
    margin: 25px 0 0 50px;
  }
}

@media (min-width: 1024px) {
  .header__contacts {
    max-width: 700px;
    margin: 5px auto 40px;
  }

  .header__nav {
    margin: 15px 0 0 50px;
  }
}

@media (min-width: 1440px) {
  .header__contacts {
    max-width: 800px;
  }
}
