.hobby {
  padding: 9px 6px 8px;
  border-top: 1px solid #f3c72b;
  border-bottom: 1px solid #f3c72b;
}

.hobby__title {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  background-color: transparent;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right -1px top 7px;
  border: none;

  &--open {
    margin-bottom: 13px;
    background-image: url("../img/dropdown-up.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.hobby__title-span {
  display: none;
}

.hobby__list {
  @include list;
  display: none;

  &--no-js {
    display: block;
  }

  &--open {
    display: block;
  }
}

.hobby__item {
  margin-bottom: 11px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.hobby__label {
  display: flex;
  align-items: flex-end;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.hobby__input:checked ~ .hobby__label .hobby__check {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px;
}

.hobby__check {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 8.5px 1px -1px;
  margin-left: -1px;
  margin-right: 9px;
  border-radius: 4px;
  background-color: #ffffff;
}

@media (min-width: $tablet) {
  .hobby {
    display: flex;
    padding: 31px 6px 5px;
    border-bottom: none;
  }

  .hobby__title {
    flex-basis: 25.9%;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    background-image: none;

    &--open {
      margin-bottom: 0;
    }
  }

  .hobby__title-span {
    display: inline;
  }

  .hobby__list {
    display: flex;
    flex-basis: 100%;
    padding-top: 2px;
  }

  .hobby__item {
    min-width: 148px;

    &--2 {
      margin: 0 5.1% 0 4.3%;
    }
  }

  .hobby__check {
    width: 24px;
    height: 24px;
    margin: 2px 11.5px 1px -1px;
  }

  .hobby__input:checked ~ .hobby__label .hobby__check {
    background-size: 12px;
  }

  .hobby__text {
    padding-bottom: 3px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop) {
  .hobby {
    display: block;
    padding: 30px 5px 1px;
    border: none;
  }

  .hobby__list {
    display: none;
    padding: 6px 0 0 2px;

    &--no-js {
      display: block;
    }

    &--open {
      display: block;
    }
  }

  .hobby__title {
    background-image: url("../img/dropdown.svg");
    background-position: right 1px top 12px;
    background-size: 10px 5px;

    &--open {
      margin-bottom: 13px;
      background-image: url("../img/dropdown-up.svg");
    }
  }

  .hobby__title-span {
    display: none;
  }

  .hobby__item {
    min-width: 148px;
    margin: 0 0 13px;
  }
}
