.like-country__title {
  position: relative;
  margin: 0;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -18px;
    width: 117%;
    height: 1px;
    background-color: #edeff6;
  }
}

.like-country__title-span {
  position: relative;
  z-index: 2;
  padding: 0 8px;
  background-color: #ffffff;
}

.like-country__list {
  @include list;
  padding: 16px 7px 0;
}

.like-country__item {
  display: flex;
  height: 18px;
  margin-bottom: 10px;
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.like-country__country {
  margin-left: 14px;
  padding-top: 2.4px;
}

@media (min-width: $tablet) {
  .like-country__title {
    margin-left: 40px;

    &::after {
      left: -80px;
      width: 151%;
    }
  }

  .like-country__list {
    display: flex;
    padding: 17px 0 0;
  }

  .like-country__item {
    margin-right: 28px;
    font-size: 20px;
    line-height: 30px;
    align-items: stretch;
    margin-bottom: 5px;

    &--demin {
      margin-right: 31px;
    }

    &--smolov {
      margin-right: 26px;
    }

    &--rogov {
      margin-right: 26px;
    }
  }

  .like-country__flag {
    margin-top: 2px;
    width: 35px;
    height: 24px;
  }

  .like-country__country {
    margin-left: 11px;
    padding-top: 0;
  }
}

@media (min-width: $desktop) {
  .like-country__list {
    flex-direction: column;
    padding: 0;
    min-height: 110px;
  }

  .like-country__item {
    margin-bottom: 19px;
    margin-right: 0;
  }

  .like-country__title {
    display: none;
  }

  .like-country__country {
    margin-left: 18px;
  }
}
