.music {
  padding: 9px 6px 8px;
}

.music__title {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  background-color: transparent;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right -1px top 7px;
  border: none;

  &--open {
    margin-bottom: 14px;
    background-image: url("../img/dropdown-up.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.music__title-span {
  display: none;
}

.music__list {
  @include list;
  display: none;

  &--no-js {
    display: block;
  }

  &--open {
    display: block;
  }
}

.music__item {
  margin-bottom: 11px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.music__input:checked ~ .music__label .music__btn {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px;
}

.music__btn {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 8.5px 1px -1px;
  margin-left: -1px;
  margin-right: 9px;
  border-radius: 4px;
  background-color: #ffffff;
}

.music__label {
  display: flex;
  align-items: flex-end;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

@media (min-width: $tablet) {
  .music {
    display: flex;
    padding: 0 5px 5px;
  }

  .music__title {
    padding-bottom: 5px;
    flex-basis: 26%;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    background-image: none;

    &--open {
      margin-bottom: 0;
    }
  }

  .music__title-span {
    display: inline;
  }

  .music__list {
    display: flex;
    flex-basis: 100%;
    padding-top: 7px;
  }

  .music__item {
    min-width: 148px;

    &--2 {
      margin: 0 5.1% 0 4.3%;
    }
  }

  .music__btn {
    width: 24px;
    height: 24px;
    margin: 2px 11.5px 1px -1px;
  }

  .music__input:checked ~ .music__label .music__btn {
    background-size: 12px;
  }

  .music__text {
    padding-bottom: 3px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop) {
  .music {
    display: block;
    padding: 0 5px 12px;
  }

  .music__list {
    display: none;
    padding: 6px 0 0 2px;

    &--no-js {
      display: block;
    }

    &--open {
      display: block;
    }
  }

  .music__title {
    background-image: url("../img/dropdown.svg");
    background-position: right 1px top 12px;
    background-size: 10px 5px;

    &--open {
      margin-bottom: 8px;
      background-image: url("../img/dropdown-up.svg");
    }
  }

  .music__title-span {
    display: none;
  }

  .music__item {
    min-width: 148px;
    margin: 0 0 13px;
  }
}
