.navigation__btn {
  position: relative;
  width: 38px;
  height: 3px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 3px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 38px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.3s ease;
  }

  &:before {
    top: -10px;
  }

  &--active {
    background-color: transparent;

    &::after {
      transform: rotate(45deg) translate(-4px, -4px);
    }

    &::before {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
  }
}
