.page-header {
  position: fixed;
  z-index: 150;
  width: 100%;
  background-color: #161c36;

  &--scroll {
    background-color: #ffffff;
  }
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 19px 25px;

  &--index {
    padding: 27px 25px;
  }
}

.page-header__img {
  &--blue {
    display: none;
  }
}

.page-header__logo {
  position: relative;
  z-index: 100;
  display: block;
  margin-right: auto;

  &--blue {
    .page-header__img {
      display: none;

      &--blue {
        display: block;
      }
    }
  }
}

.page-header__menu-open {
  position: relative;
  z-index: 1;
  order: 1;
  width: 25px;
  height: 11px;
  border: none;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;

  &--scroll {
    background-image: url("../img/menu-scroll.svg");
  }

  &--close {
    width: 22px;
    height: 19px;
    background-image: url("../img/menu-close.svg");
  }
}

.page-header__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  padding: 115px 25px 28px;
  background-color: #ffffff;

  &--close {
    display: none;
  }

  &--open {
    display: flex;
    min-height: 568px;
  }
}

.page-header__navigation {
  margin-bottom: 51px;
}

.page-header__btn-author {
  display: block;
  padding: 10px 40px;
  margin-bottom: 51px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  background-color: #ffd74b;

  &:active span {
    background-color: #ffbd30;
    opacity: 0.3;
  }
}

.page-header__social {
  margin-top: auto;
}

@media (max-width: 1439px) {
  .page-header--no-js {
    position: static;

    .page-header__content {
      padding: 0;
    }

    .page-header__logo {
      margin: 20px auto;
    }

    .page-header__menu-open {
      display: none;
    }

    .page-header__info {
      position: static;
      display: block;
      min-height: 0;
      width: 100%;
      padding-top: 25px;
    }

    .page-header__contacts {
      margin: 20px 0;
    }
  }
}

@media (min-width: $tablet) {
  .page-header {
    justify-content: flex-start;
    padding: 18px 15px 18px;

    &--index {
      background-color: #182044;
    }

    &--scroll {
      background-color: #ffffff;
    }
  }

  .page-header__content {
    padding: 27px 25px;
  }

  .page-header__info {
    display: flex;
    justify-content: flex-start;
    padding: 40px 40px 74px 97px;
    background-color: transparent;

    &--open {
      background-color: #ffffff;

      .page-header__navigation,
      .page-header__contacts,
      .page-header__social {
        display: block;
      }
    }
  }

  .page-header__menu-open {
    position: absolute;
    left: 48.4%;
  }

  .page-header__navigation {
    display: none;
    margin: 38px 0 133px;
  }

  .page-header__contacts {
    display: none;
    margin-bottom: 125px;
  }

  .page-header__social {
    display: none;
    align-self: flex-start;
  }

  .page-header__btn-author {
    order: -1;
    align-self: flex-end;
    padding: 10px 30px 10px 28px;
    font-size: 20px;
  }

  @media (max-width: 1439px) {
    .page-header--no-js {
      padding: 18px 0;

      .page-header__info {
        background-color: #ffffff;
      }

      .page-header__navigation {
        display: block;
        margin: 38px 0 70px;
      }

      .page-header__contacts {
        display: block;
      }

      .page-header__social {
        display: block;
      }
    }
  }
}

@media (min-width: $desktop) {
  .page-header {
    padding: 47px 15px 5px;
    background-color: #161c36;

    &--form {
      padding: 48px 15px 5px;
    }

    &--scroll {
      background-color: #ffffff;
      padding: 20px 0;
    }
  }

  .page-header__content {
    padding: 0;
  }

  .page-header__menu-open {
    display: none;
  }

  .page-header__navigation {
    display: block;
    flex-grow: 1;
    margin: 0;
  }

  .page-header__info {
    position: static;
    flex-direction: row;
    flex-grow: 1;
    order: 1;
    align-items: center;
    padding: 0;
    min-height: auto;

    &--form {
      padding-bottom: 1px;
      margin-right: -1px;
    }
  }

  .page-header__btn-author {
    order: 2;
    margin: 0;
    padding: 10px 25px;
    min-width: 189px;

    &:hover {
      background-color: #ffbd30;
    }
  }

  .page-header__contacts {
    display: block;
    margin: 0;
  }
}
