.recommend {
  padding: 25px;
  background-image: url("../img/back-catalog.webp");
  background-repeat: no-repeat;
  background-position: center top;
}

.recommend__title {
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  color: #ffffff;
}

.recommend__list {
  @include list;
  max-width: 270px;
  margin: auto;

  .owl-nav {
    display: block;
  }

  .owl-prev,
  .owl-next {
    width: 50%;
    background-color: #ffffff;
  }
}

.recommend__item {
  min-height: 435px;
  background-color: #ffffff;
}

.recommend__content {
  padding: 10px;
}

.recommend__btn {
  display: block;
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.recommend__card-title {
  font-family: "BebasNeue", "Tahoma", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.recommend__card-sostav {
  margin: 0;
  font-weight: 700;
}

.recommend__card-ingridients {
  margin: 0;
}

.recommend__card-price {
  &--span {
    font-weight: 700;
    color: #cf8e17;
  }
}

@media (min-width: 768px) {
  .recommend {
    padding: 50px 25px;
  }

  .recommend__title {
    text-align: center;
  }

  .recommend__list {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  .recommend__item {
    max-width: 270px;
  }

  .recommend__content {
    padding: 25px;
  }
}
