.slider__list {
  @include list;
}

.owl-nav {
  display: none;
}

@media (min-width: 768px) {
  .slider {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: -30px;
      width: 270px;
      height: 270px;
      background-image: url("../img/back-welcome2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .owl-nav {
    display: block;

    .owl-prev,
    .owl-next {
      width: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .slider {
    &::before {
      bottom: -30px;
      left: -45px;
      width: 470px;
      height: 470px;
    }
  }
}
