.steps {
  color: #161c35;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.steps__list {
  @include list;
  counter-reset: steps;
}

.steps__item {
  display: flex;
  justify-content: space-between;
  padding: 21px 21px 33px 24px;
  border-radius: 10px 10px 0 0;
  background-color: #ff8d30;
  margin-bottom: -10px;

  &::after {
    margin-left: 30px;
    color: #ffffff;
    counter-increment: steps;
    content: counter(steps);
  }

  &--2 {
    background-color: #ffa530;
  }

  &--3 {
    background-color: #ffbd30;
  }

  &--4 {
    border-radius: 10px;
    background-color: #ffd74b;
    padding-bottom: 23px;
  }
}

@media (min-width: $tablet) {
  .steps__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
  }

  .steps__item {
    width: 45%;
    flex-grow: 1;
    flex-direction: column;
    padding: 29px 90px 13px 33px;
    margin-right: -28px;
    margin-bottom: 0;
    min-height: 140px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px 20px 0 0;

    &::after {
      margin-left: 0;
      font-size: 30px;
      font-weight: 700;
      line-height: 50px;
    }

    &--2 {
      margin-right: 0;
      width: 41%;
    }

    &--3 {
      border-radius: 0 0 20px 20px;
      margin-right: -28px;
    }

    &--4 {
      border-radius: 0 0 20px 20px;
      margin-right: 0;
      width: 41%;
    }
  }
}

@media (min-width: $desktop) {
  .steps {
    margin: auto;
  }

  .steps__item {
    flex-direction: row;
    width: 315px;
    padding: 27px 73.5px 32px 34px;
    border-radius: 20px;
    min-width: 355px;
    flex-grow: 0;
    min-height: auto;

    &--2 {
      min-width: 385px;
      padding: 27px 73px 25px 30px;
    }

    &--3 {
      min-width: 385px;
      padding: 27px 72px 25px 31px;
    }

    &--4 {
      min-width: 315px;
      padding: 27px 34px 25px 30px;
    }

    &:not(:last-child) {
      margin-right: -40px;
    }

    &::after {
      margin-left: 15px;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
