.travelmates-flags__list {
  @include list;
  display: flex;
  justify-content: center;
}

.travelmates-flags__item {
  margin: 0 9px 4px;
  width: 35px;
  height: 24px;
}

@media (min-width: $tablet) {
  .travelmates-flags__item {
    margin: 0 8.5px;
  }
}
