.travelmates {
  position: relative;
  margin-top: -25px;
  padding: 64px 25px 30px;
  background-color: #192144;
  color: #ffffff;
  background-image: url("../img/smolov-back-desktop@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: right top,
    left -35px top 273px;
  background-origin: content-box;
  border-radius: 0 0 30px 30px;

  @media (min-resolution: $retina) {
    background-image: url("../img/smolov-back-desktop@2x.png"),
      url("../img/rogovaya-back-mobile@2x.png");
    background-size: 143px auto, 71px auto;
  }
}

.travelmates__content {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -44px;
    width: 132px;
    height: 132px;
    border-radius: 20px;
    background-color: #141b3b;
  }
}

.travelmates__section-description {
  padding: 11px 25px 15px 24px;
  margin-bottom: 26px;
}

.travelmates__main-title {
  margin-bottom: 20px;
  color: $orange;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.travelmates__main-text {
  font-weight: 300;

  &--bold {
    margin-top: 21px;
    font-weight: 700;
  }
}

.travelmates__list {
  @include list;
}

.travelmates__item {
  position: relative;
  margin-bottom: 10px;

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(#000000, 0.08);

    .travelmates__img {
      transform: scale(1.1);
    }
  }
}

.travelmates__box1 {
  background-color: #192144;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.travelmates__box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 15px 16px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;

  &--demin {
    padding-bottom: 15px;
  }
}

.travelmates__img {
  display: block;
  width: 100%;
  transition: transform 0.3s ease;
}

.travelmates__lvl {
  position: absolute;
  top: 16px;
  left: 17px;

  &--2 {
    left: 16px;
  }
}

.travelmates__flags {
  position: relative;
  margin-top: -27px;
}

.travelmates__name {
  position: relative;
  margin: 7px 0 16px;
  padding: 0 17px;
  color: #1d2e5b;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 1px;
    width: 5px;
    height: 5px;
    background-color: #f97676;
    border-radius: 4px;
  }

  &--active::before {
    background-color: #81e31e;
  }
}

.travelmates__hashtags {
  max-width: 180px;
  margin: 0 auto 17px;
  padding: 0 0 0 1px;
  color: #444444;
  line-height: 18px;
  text-align: center;

  &--demin {
    padding-left: 15px;
    margin: 0 auto 18px;
  }
}

.travelmates__btn {
  margin-top: 20px;
}

@media (min-width: $tablet) {
  .travelmates {
    margin-top: -60px;
    padding: 150px 48px 88px;
    background-image: url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-desktop@1x.png");
    background-position: left -8px top 336px,
      right 27px top -10px;
    border-radius: 0 0 60px 60px;

    @media (min-resolution: $retina) {
      background-image: url("../img/smolov-back-desktop@2x.png"),
        url("../img/rogovaya-back-desktop@2x.png");
      background-size: 143px auto, 285px auto;
    }
  }

  .travelmates__content {
    &::before {
      top: -10px;
      left: -7px;
      width: 213px;
      height: 213px;
    }
  }

  .travelmates__section-description {
    padding: 10px 25px 16px 25px;
  }

  .travelmates__main-title {
    font-size: 45px;
    line-height: 45px;
  }

  .travelmates__main-text {
    margin: 55px 0 0;
    padding: 2px 140px 0 2px;
    font-size: 28px;
    line-height: 33px;

    &--bold {
      margin-top: 38px;
      padding-right: 250px;
      font-size: 21px;
      line-height: 25px;
    }
  }

  .travelmates__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 27px;
  }

  .travelmates__item {
    flex-basis: 46.1%;
    border-radius: 20px;
  }

  .travelmates__box1 {
    background-color: #192144;
    border-radius: 20px 20px 0 0;
  }

  .travelmates__box2 {
    padding: 21px 15px 23px;
    border-radius: 0 0 20px 20px;
  }

  .travelmates__lvl {
    top: 20px;
    left: 20px;

    &--2 {
      left: 21px;
    }
  }

  .travelmates__name {
    padding: 0 21px;
    margin: 16px 0 21px;
    font-size: 24px;
    line-height: 24px;

    &::before {
      top: 10px;
      left: -1px;
      width: 7px;
      height: 7px;
    }

    &--active::before {
      background-color: #81e31e;
    }
  }

  .travelmates__hashtags {
    max-width: 90%;
    margin: 0 auto 26px;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .travelmates__flags {
    margin: -32px 0 0;
  }

  .travelmates__btn {
    margin: 52px auto 0;
    max-width: 92%;
  }
}

@media (min-width: $desktop) {
  .travelmates {
    padding: 0;
    background-image: none;
  }

  .travelmates__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1440px;
    margin: auto;
    padding: 152px 59px 86px;

    background-image: url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: left 488px top 41px,
      left 132px top 293px;
    background-origin: content-box;

    &::before {
      top: 127px;
      left: 60px;
    }

    @media (min-resolution: $retina) {
      background-image: url("../img/smolov-back-desktop@2x.png"),
        url("../img/rogovaya-back-desktop@2x.png");
      background-size: 143px auto, 285px auto;
    }
  }

  .travelmates__main-title {
    margin-top: 33px;
  }

  .travelmates__section-description {
    flex-grow: 1;
    width: 500px;
    padding: 0 70px;
  }

  .travelmates__main-text {
    padding: 2px 0 0 2px;
    margin-top: 56px;

    &--bold {
      margin-top: 38px;
      margin-bottom: 120px;
    }
  }

  .travelmates__list {
    flex-basis: 630px;
    flex-grow: 1;
    padding: 41px 1px 38px 95px;
  }

  .travelmates__item {
    flex-basis: 45.2%;
  }

  .travelmates__lvl {
    top: 23px;
    left: 23px;
  }

  .travelmates__name {
    padding: 2px 21px 0;
    margin: 17px 0 19px;

    &::before {
      top: 12px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .travelmates__btn {
    flex-basis: 280px;
    margin-top: -129px;
    margin-left: 72px;
  }

  .travelmates__box2 {
    padding: 20px 15px 23px;
  }

  .travelmates-flags__item {
    position: relative;

    &[data-hover] {
      &::before {
        content: attr(data-hover);
        position: absolute;
        z-index: 5;
        top: 138%;
        left: 50%;
        display: none;
        padding: 16px 24px 17px 24px;
        color: #ffffff;
        white-space: nowrap;
        font-size: 20px;
        line-height: 24px;
        background-color: #101d41;
        border-radius: 3px;
        transform: translateX(-50%);
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 5;
        top: 90%;
        left: 50%;
        display: none;
        width: 0;
        height: 0;

        border: 8px solid #101d41;
        border-right-width: 0;
        border-top-color: transparent;
        border-top-width: 8px;
        border-bottom-color: transparent;
        border-bottom-width: 8px;
        transform: translateX(-50%) rotate(-90deg);
      }

      &:hover {
        &::before,
        &::after {
          display: block;
        }
      }
    }
  }
}
