.transport-select {
  padding: 9px 6px 19px;
  border-bottom: 1px solid #f3c72b;
}

.transport-select__title {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  background-color: transparent;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right -1px top 7px;
  border: none;

  &--open {
    margin-bottom: 15px;
    background-image: url("../img/dropdown-up.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.transport-select__title-span {
  display: none;
}

.transport-select__list {
  @include list;
  display: none;
  margin-left: -1px;

  &--no-js {
    display: flex;
  }

  &--open {
    display: flex;
  }
}

.transport-select__label {
  @include center-flex;
  width: 33px;
  height: 33px;
  padding-right: 1px;
  background-color: #ffffff;
  border-radius: 50%;

  &--plane {
    padding-right: 3px;
  }
}

.transport-select__item {
  margin-right: -0.8px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.transport-select__btn {
  fill: $dark-slate-blue;
  opacity: 0.15;
}

.transport-select__input:checked ~ .transport-select__label .transport-select__btn {
  opacity: 1;
}

@media (min-width: $tablet) {
  .transport-select {
    display: flex;
    padding: 11px 5px 4px;
    border: none;
  }

  .transport-select__title {
    flex-basis: 20%;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    background-image: none;

    &--open {
      margin-bottom: 0;
    }
  }

  .transport-select__title-span {
    display: inline;
  }

  .transport-select__label {
    width: 43px;
    height: 43px;

    &--plane {
      padding-right: 4px;
    }
  }

  .transport-select__list {
    display: flex;
    margin: -7px 0 0 -2px;
  }

  .transport-select__item {
    margin-right: 0;
  }

  .transport-select__btn {
    height: 21px;

    &--plane {
      width: 19px;
    }

    &--bus {
      width: 17px;
    }

    &--bike {
      width: 24px;
    }

    &--run {
      width: 20px;
    }
  }
}

@media (min-width: $desktop) {
  .transport-select {
    padding: 5px 4px 0;
    display: block;
  }

  .transport-select__title {
    background-image: url("../img/dropdown.svg");
    background-position: right 1px top 12px;
    background-size: 10px 5px;

    &--open {
      margin-bottom: 16px;
      background-image: url("../img/dropdown-up.svg");
    }
  }

  .transport-select__title-span {
    display: none;
  }

  .transport-select__list {
    @include list;
    display: none;
    margin-left: -1px;

    &--no-js {
      display: flex;
    }

    &--open {
      display: flex;
    }
  }

  .transport-select__label {
    &--bus {
      padding: 0 0 0 1px;
    }
  }
}
