.transport-form {
  display: flex;
  flex-direction: column;
  max-width: 84.1%;
  padding: 15px 15px 14px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #cbced9;
}

.transport-form__title {
  width: 112px;
  margin: -24px auto 3px;
  padding: 0 15px;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #edeff6;
}

.transport-form__list {
  @include list;
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.transport-form__svg {
  fill: #1d2e5b;
  opacity: 0.15;
}

.transport-form__check {
  display: none;
}

.transport-form__check:checked ~ .transport-form__svg {
  opacity: 1;
}

.transport-form__item {
  @include center-flex;
  width: 33px;
  height: 33px;

  background-color: #ffffff;
  border-radius: 50%;

  &:active .transport-form__label {
    opacity: 0.3;
  }
}

.transport-form__label {
  @include center-flex;
}

@media (min-width: $tablet) {
  .transport-form {
    padding: 24px 15px 13px;
  }

  .transport-form__title {
    width: 145px;
    order: 2;
    margin: -2px auto -22px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.8px;
  }

  .transport-form__list {
    margin: 0 0 18px;
  }

  .transport-form__item {
    width: 43px;
    height: 43px;
    margin: 0 4px;
  }

  .transport-form__svg {
    width: 19px;
    height: 21px;

    &--bus {
      width: 17px;
      height: 21px;
    }

    &--bike {
      width: 24px;
      height: 21px;
    }

    &--run {
      width: 20px;
      height: 21px;
    }
  }
}

@media (min-width: $desktop) {
  .transport-form {
    padding: 24px 15px 13px 19px;
  }

  .transport-form__item {
    margin: 0;

    &:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    }
  }

  .transport-form__svg {
    &--plane {
      width: 23px;
      height: 22px;
      padding: 0 4px 1px 0;
    }
  }

  .transport-form__title {
    width: 155px;
    padding: 0 21px 0 19px;
  }
}
