.transport-card__title {
  position: relative;
  margin: 0;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -18px;
    width: 205%;
    height: 1px;
    background-color: #edeff6;
  }
}

.transport-card__title-span {
  position: relative;
  z-index: 2;
  padding: 0 8px;
  background-color: #ffffff;
}

.transport-card__list {
  @include list;
  padding: 16px 7px;
  display: flex;
}

.transport-card__item {
  width: 33px;
  height: 32px;
  padding-top: 8px;
  margin-left: -0.7px;
  text-align: center;
  background-color: #edeff6;
  border-radius: 50%;
}

.transport-card__svg {
  opacity: 0.15;

  &--active {
    opacity: 1;
  }
}

@media (min-width: $tablet) {
  .transport-card__title {
    display: none;
  }

  .transport-card__list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .transport-card__item {
    padding-top: 4px;
    background-color: #ffffff;
  }

  .transport-card__svg {
    height: 21px;
    fill: $dark-slate-blue;

    &--plane {
      width: 19px;
      margin: 1px 3px 0 0;
    }

    &--bus {
      width: 17px;
      margin: 1px 0 0 0;
    }

    &--bike {
      width: 24px;
      margin: -1px 0 0 2px;
    }

    &--run {
      width: 20px;
    }
  }
}

@media (min-width: $desktop) {
  .transport-card__list {
    flex-direction: row;
    padding-top: 12px;

    &--demin {
      padding-top: 14px;
    }

    &--smolov {
      padding-top: 11px;
    }
  }

  .transport-card__svg {
    &--plane {
      margin: -1px 6px 0 0;
    }

    &--bus {
      margin: -1px 1px 0 0;
    }

    &--bike {
      width: 24px;
      margin: -1px 0 0 2px;
    }

    &--run {
      margin: -1px 0 0 0;
    }
  }
}
