.welcome {
  padding: 25px;
  margin-top: -25px;
  background-color: #f1f1f1;
}

.welcome__title {
  font-family: "BebasNeue", "Tahoma", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;

  &--span {
    color: #cf8e17;
  }
}

.welcome__text {
  font-weight: 300;
}

@media (min-width: 426px) {
  .welcome__wrapper {
    display: flex;
    flex-direction: column;
  }

  .welcome__content {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -325px;
      width: 150px;
      height: 350px;
      background-image: url("../img/back-welcome.webp");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .welcome__title {
    font-size: 50px;
    line-height: 54px;
  }

  .welcome__slider {
    max-width: 235px;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .welcome__wrapper {
    max-width: 768px;
    margin: auto;
  }

  .welcome__content {
    max-width: 525px;
    margin-left: auto;

    &::before {
      top: 0;
      left: -245px;
      width: 415px;
      height: 750px;
    }
  }

  .welcome__title {
    font-size: 56px;
    line-height: 60px;
  }
}

@media (min-width: 1024px) {
  .welcome__wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 50px 15px;
    flex-direction: row;
  }

  .welcome__content {
    margin-left: 0;
    padding: 0 15px;

    &::before {
      top: -40px;
      left: -310px;
      width: 415px;
      height: 750px;
    }
  }

  .welcome__slider {
    max-width: 470px;
    margin-left: auto;
    margin-top: 50px;
  }
}
