@font-face {
  font-family: "MuseoSans";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-100.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  font-display: swap;
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"),
    url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  font-display: swap;
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
