@import "../../node_modules/normalize.css/normalize";
@import "font";
@import "mixin";
@import "variables";
@import "base";
@import "blocks/header";
@import "blocks/navigation";
@import "blocks/banner";
@import "blocks/btn";
@import "blocks/welcome";
@import "blocks/slider";
@import "blocks/recommend";
@import "blocks/block";
@import "blocks/callback";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/social";
@import "blocks/menu";
@import "blocks/contacts";
@import "blocks/catalog";
@import "blocks/card";
@import "blocks/bbq";
@import "blocks/modal";
